<div class="customer-card">
  <div class="media">
    <% if customer.image.attached? %>
      <div class="media-left">
        <div class="image-wrapper">
          <%= image_tag customer.image, alt: "#{customer.full_name}'s Image", class: 'customer-image' %> <!--if img is attatched to customer use image_tag to display with alt customer fname -->
        </div>
      </div>
    <% end %>

    <div class="media-content">
      <div class="content">
        <h3><%= customer.full_name %></h3> <!--displays customers fname, phone # email or NA and notes + a place holder if no notes -->
        <p><strong>Phone:</strong> <%= customer.phone_number %></p>
        <p><strong>Email:</strong> <%= customer.email.present? ? customer.email : 'N/A' %></p>
        <p><strong>Notes:</strong> <%= customer.notes.present? ? customer.notes : 'No notes available.' %></p>
      </div>
    </div>
  </div>
</div>